/* Menu responsivo */
.menu-toggle {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.menu-toggle span {
  width: 25px;
  height: 3px;
  background: #fff;
}

@media (max-width: 900px) {
  .nav ul {
    flex-direction: column;
    background: #1a1a1a;
    position: absolute;
    top: 80px;
    right: 0;
    width: 200px;
    display: none;
  }

  .nav.active ul {
    display: flex;
  }

  .menu-toggle {
    display: flex;
  }
}
